# --- 아까 문제된 파일 및 오타 파일 ---
*.bin
*.bin‘

# --- 컴파일/빌드 결과물 (쓰레기 파일) ---
*.hex
*.elf
*.map
*.o
*.d
*.obj
*.srec
*.dbo
*.out
*.hex‘
*.siz

# --- 빌드 폴더 통째로 무시 ---
/bin/
/objs/
/Debug/
/Release/
/Flash/


# --- 윈도우/시스템 임시 파일 ---
Thumbs.db
Desktop.ini

# --- 임의로 빌드된거 무시 ---
NX5e - 260126 1.3.1/bin/project.dep
NX5e - 260126 1.3.1/bin/project.dla
NX5e - 260126 1.3.1/bin/project.dnm
NX5e - 260126 1.3.1/bin/project.hex‘
NX5e - 260126 1.3.1/bin/project.out
NX5e - 260126 1.3.1/bin/project.siz
NX5e - 260126 1.3.1/objs/Config_ADCA0_user.dbo
NX5e - 260126 1.3.1/objs/Config_ADCA0.dbo
NX5e - 260126 1.3.1/objs/Config_CSIH0_user.dbo
NX5e - 260126 1.3.1/objs/Config_CSIH0.dbo
NX5e - 260126 1.3.1/objs/Config_INTC_user.dbo
NX5e - 260126 1.3.1/objs/Config_INTC.dbo
NX5e - 260126 1.3.1/objs/Config_PORT_user.dbo
NX5e - 260126 1.3.1/objs/Config_PORT.dbo
NX5e - 260126 1.3.1/objs/Config_STBC_user.dbo
NX5e - 260126 1.3.1/objs/Config_STBC.dbo
NX5e - 260126 1.3.1/objs/Config_TAUD0_3_user.dbo
NX5e - 260126 1.3.1/objs/Config_TAUD0_3.dbo
NX5e - 260126 1.3.1/objs/Config_TAUD0_13_user.dbo
NX5e - 260126 1.3.1/objs/Config_TAUD0_13.dbo
NX5e - 260126 1.3.1/objs/Config_WDT0_user.dbo
NX5e - 260126 1.3.1/objs/Config_WDT0.dbo
NX5e - 260126 1.3.1/objs/dr7f701695_startup.dbo
NX5e - 260126 1.3.1/objs/exception.dbo
NX5e - 260126 1.3.1/objs/fdl_descriptor.dbo
NX5e - 260126 1.3.1/objs/fdl_function.dbo
NX5e - 260126 1.3.1/objs/fdl_user.dbo
NX5e - 260126 1.3.1/objs/fdlapp_control.dbo
NX5e - 260126 1.3.1/objs/lowinit.dbo
NX5e - 260126 1.3.1/objs/Pin.dbo
NX5e - 260126 1.3.1/objs/r_cg_cgc_user.dbo
NX5e - 260126 1.3.1/objs/r_cg_cgc.dbo
NX5e - 260126 1.3.1/objs/r_cg_intvector.dbo
NX5e - 260126 1.3.1/objs/r_cg_main.dbo
NX5e - 260126 1.3.1/objs/r_cg_systeminit.dbo
NX5e - 260126 1.3.1/objs/r_fdl_hw_access.dbo
NX5e - 260126 1.3.1/objs/r_fdl_user_if_init.dbo
NX5e - 260126 1.3.1/objs/r_fdl_user_if.dbo
NX5e - 260126 1.3.1/objs/r_smc_interrupt.dbo
NX5e - 260126 1.3.1/objs/r_smc_intprg.dbo
NX5e - 260123 1.3.1 Refactoring/bin/project.dep
NX5e - 260123 1.3.1 Refactoring/bin/project.dla
NX5e - 260123 1.3.1 Refactoring/bin/project.dnm
NX5e - 260123 1.3.1 Refactoring/bin/project.hex‘
NX5e - 260123 1.3.1 Refactoring/bin/project.out
NX5e - 260123 1.3.1 Refactoring/bin/project.siz
NX5e - 260123 1.3.1 Refactoring/objs/Config_ADCA0_user.dbo
NX5e - 260123 1.3.1 Refactoring/objs/Config_ADCA0.dbo
NX5e - 260123 1.3.1 Refactoring/objs/Config_CSIH0_user.dbo
NX5e - 260123 1.3.1 Refactoring/objs/Config_CSIH0.dbo
NX5e - 260123 1.3.1 Refactoring/objs/Config_INTC_user.dbo
NX5e - 260123 1.3.1 Refactoring/objs/Config_INTC.dbo
NX5e - 260123 1.3.1 Refactoring/objs/Config_PORT_user.dbo
NX5e - 260123 1.3.1 Refactoring/objs/Config_PORT.dbo
NX5e - 260123 1.3.1 Refactoring/objs/Config_STBC_user.dbo
NX5e - 260123 1.3.1 Refactoring/objs/Config_STBC.dbo
NX5e - 260123 1.3.1 Refactoring/objs/Config_TAUD0_3_user.dbo
NX5e - 260123 1.3.1 Refactoring/objs/Config_TAUD0_3.dbo
NX5e - 260123 1.3.1 Refactoring/objs/Config_TAUD0_13_user.dbo
NX5e - 260123 1.3.1 Refactoring/objs/Config_TAUD0_13.dbo
NX5e - 260123 1.3.1 Refactoring/objs/Config_WDT0_user.dbo
NX5e - 260123 1.3.1 Refactoring/objs/Config_WDT0.dbo
NX5e - 260123 1.3.1 Refactoring/objs/dr7f701695_startup.dbo
NX5e - 260123 1.3.1 Refactoring/objs/exception.dbo
NX5e - 260123 1.3.1 Refactoring/objs/fdl_descriptor.dbo
NX5e - 260123 1.3.1 Refactoring/objs/fdl_function.dbo
NX5e - 260123 1.3.1 Refactoring/objs/fdl_user.dbo
NX5e - 260123 1.3.1 Refactoring/objs/fdlapp_control.dbo
NX5e - 260123 1.3.1 Refactoring/objs/lowinit.dbo
NX5e - 260123 1.3.1 Refactoring/objs/Pin.dbo
NX5e - 260123 1.3.1 Refactoring/objs/r_cg_cgc_user.dbo
NX5e - 260123 1.3.1 Refactoring/objs/r_cg_cgc.dbo
NX5e - 260123 1.3.1 Refactoring/objs/r_cg_intvector.dbo
NX5e - 260123 1.3.1 Refactoring/objs/r_cg_main.dbo
NX5e - 260123 1.3.1 Refactoring/objs/r_cg_systeminit.dbo
NX5e - 260123 1.3.1 Refactoring/objs/r_fdl_hw_access.dbo
NX5e - 260123 1.3.1 Refactoring/objs/r_fdl_user_if_init.dbo
NX5e - 260123 1.3.1 Refactoring/objs/r_fdl_user_if.dbo
NX5e - 260123 1.3.1 Refactoring/objs/r_smc_interrupt.dbo
NX5e - 260123 1.3.1 Refactoring/objs/r_smc_intprg.dbo
